<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"> <!-- th:replace="base::Layout(content)" -->
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:replace="~{base::bootstrap}" rel="stylesheet" href="">
    <link th:replace="~{base::fontawesome}" rel="stylesheet" href="">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav th:replace="~{base::nav}">THIS IS LOGIN NAV</nav>

<section>
    <div class="container mt-5 p-5">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <i class="fa-solid fa-circle-check fa-5x text-success"></i>
                    <p class="fs-2">Your Product Ordered Successfully </p>
                    <p class="fs-4">Product will be delivered with in 7 days</p>
                    <div class="text-center">
                        <a href="/" class="btn btn-primary">Home</a>
                        <a href="/order" class="btn btn-primary">Your Order</a>
                    </div>
                </div>
            </div>
    </div>
</section>

<div th:replace="~{base::footer}"></div>
</body>
<script th:replace="~{base::jsb1}"></script>
</html>
